@import url(http://fonts.googleapis.com/css?family=Gilda+Display);

/* For browsers */
div {
	border: 0px solid black;
}

body {
	background-color: white;
	background-image: url('../images/backdrop.png');
	background-repeat: no-repeat;
	font-family: 'Gilda Display', serif;;
}

input {
	border: 1px solid gray;
}

input:hover {
	border: 1px solid black;
}

.error {
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	width: 50%;
	height: 30px;
	color: white;
	font-size: 30px;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 5px;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.wrapper {
	height: 100%;
	width: 100%;
	min-width: 1100px;

}

#helpToggle {
	float: right;
}

#helpToggle img {
	border-radius: 10px;
	width: 35px;
	height: 35px;
}

#bag {
	text-align: left;
}

.help {
	text-decoration: none;
	text-align: right;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 130px;
	border-radius: 10px;
}

.help a:hover {
	cursor: pointer;
}


.container {
	height: 100%;
	width: 80%;
	min-width: 500px;
	margin: 0px auto;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(255, 255, 255, 0.8);
}

.slideDown {
	text-align: center;
	font-size: 30px;
	margin-bottom: 75px;
	padding-top: 25px;
	display: none;
}

.addItem {
	text-align: center;
	font-size: 30px;
}

#item {
	width: 350px;
	height: 50px;
	font-size: 30px;
}

#quantity {
	width: 60px;
	height: 50px;
	font-size: 30px;
}

#price {
	width: 150px;
	height: 50px;
	font-size: 30px;
}

#add {
	width: 40%;
	height: 70px;
	border-radius: 2px;
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.list {
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#listHeader {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid black;
}

.listItem {
	min-height: 30px;
	display: block;
	margin-top: 7px;
	font-size: 30px;
	text-align: left;
}

.listItem .edit, .listItem .delete {
	display: none;
}

.listItem:hover .edit, .listItem:hover .delete {
	display: inline-block;
}

/* Is a duplicate to add to dynamic events 
   The hover events are handled in jQuery.
*/
.editAdd, .deleteAdd {
	display: none;
}

.editHover, .deleteHover {
	display: inline-block;
}


.itemPrice, .itemQuantity, .itemTotal  {
	float: left;
	min-height: 30px;
	min-width: 120px;
	max-width: 120px;
	text-align: center;
	font-size: 30px;
	overflow: hidden;
}

/* Unused */
.itemType {
	float: left;
	width: 300px;
	font-size: 30px;
	overflow: hidden;
}

.edit, .delete, .save {
	float: right;
	width: 100px;
	text-align: center;
	background-color: gray;
	color: white;
	margin-left: 2px;
	height: 30px;
	border-radius: 5px;
	padding-top: 5px;
	font-size: 18px;
}

.save {
	display: none;
}

.edit:hover, .delete:hover, .save:hover {
	background-color: black;
	cursor: pointer;
}

.total {
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
	border-top: 1px solid black;
}

.total #allItemTotals {
	display: inline;
	font-size: 50px;
}

.editable {
	width: 70px;
	min-width: 70px;
	height: 30px;
	font-size: 20px;
	display: none;
	text-align: center;
}

.itemType .editable {
	width: 250px;
	min-width: 250px;
	height: 30px;
	font-size: 20px;
	display: none;
	text-align: left;
}

.crossOut {
	text-decoration: line-through;
}
